{% extends "base.html" %}

{% block content %}

<!--Content Here-->

{% for id in response %}
<div class="p-2 mb-1" style="background-color: lightblue;">
    <h6>Nurse:</h6>
    <p>{{nurseList[id - 1][1]}}</p>
    <h6>Patient(s):</h6>
    {% for patient_id in response[id]['patients']%}
    <p>{{patientList[patient_id - 1][0]}}: {{patientList[patient_id - 1][1]}}
        ({{patientList[patient_id - 1][2]}}{{patientList[patient_id - 1][3]}})</p>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}