<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="BCIT (Team SR)">
    {% if title %}
    <title>Smart Roster - {{title}}</title>
    {% else %}
    <title>Smart Roster</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap Links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <!--Fontawesome Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--Custom CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">

</head>

<body>
    {% if loggedin %}
    <nav class="navbar navbar-expand-lg navbar_custom">
        <a class="navbar-brand"><img class="hamburger-icon" src="/images/hamburger.png" onclick="openSidebar()"></a>
        <a class="navbar-brand" href="/"><img class="sr-logo" src="/images/SmartRosterLogoHighRes.png"></a>
        <div class="collapse navbar-collapse flex-grow-0 ml-auto">
            <ul class="navbar-nav text-right mr-auto">
                <li class="nav-item"><a class="nav-link navbar_text mx-3" href="#" data-toggle="modal"
                        data-target="#referenceModal"><i class="far fa-question-circle fa-1x"></i></a></li>
                <li class="nav-item"><a class="nav-link navbar_text" href="/register">Create Account</a></li>
                <li class="nav-item"><a class="nav-link navbar_text" href="/settings">Settings</a></li>
                <li class="nav-item"><a class="nav-link navbar_text" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link navbar_text" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    {% endif %}

    <!--Sidebar-->
    <div id="mainSidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">
            <i class="far fa-arrow-alt-circle-left"></i>
        </a>
        <div id="sidebarContent" class="sidebar-content">
            <br>
            <div class="mb-3" style="height: 30%; width: 100%">
                <a href="/profile" style="padding: 0">
                    {% if loggedin %}
                    <img src="/images/{{pfp}}"
                        style="width: 150px; height: 150px; border-radius: 50%; display:block; position:relative; left:27.5%; border: 2px solid #af1946">
                    {% else %}
                    <img src="/images/base-avatar.png"
                        style="width: 150px; height: 150px; border-radius: 50%; display:block; position:relative; left:27.5%; border: 2px solid #af1946">
                    {% endif %}
                    <h5 class="text-center" style="position: relative;">Admin Account</h5>
                </a>
            </div>
            <br>
            <hr class="my-1">
            <a href="/currentCAASheet">
                <img class="sidebar-icons" src="/images/clinical-area-assignment-icon.png">
                <small>Clinical Area Assignment</small>
            </a>
            <hr class="my-1">
            <a href="/currentPNSheet">
                <img class="sidebar-icons" src="/images/patient-assignment-icon.png">
                <small>Patient Assignment</small>
            </a>
            <hr class="my-1">
            <a href="/nurseRecords">
                <img class="sidebar-icons" src="/images/nurse-records-icon.png">
                <small>Nurse Records</small>
            </a>
            <hr class="my-1">
            <a href="/patientRecords">
                <img class="sidebar-icons" src="/images/patient-records-icon.png">
                <small>Patient Records</small>
            </a>
            <hr class="my-1">
            <a href="/pastPNSheet">
                <img class="sidebar-icons" src="/images/past-assignments-icon.png">
                <small>Past Assignments</small>
            </a>
            <hr class="my-1">
            <a href="/settings">
                <img class="sidebar-icons" src="/images/settings-icon.png">
                <small>Settings</small>
            </a>
            <hr class="my-1">
            <a href="/logout">
                <img class="sidebar-icons" src="/images/logout-icon.png">
                <small>Logout</small>
            </a>
        </div>
    </div>

    <!-- Dark Overlay element -->
    <div id="backdrop" class="show"></div>

    <!--Reference Modal-->
    <div class="modal fade show" tabindex="-1" role="dialog" id="referenceModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/editReference" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="clinical_area">Clinical Area</label><br>
                            <textarea id="clinical_area" name="clinical_area" rows="2" class="text_area"
                                placeholder="Eg. Clinical area definition"
                                disabled>{{ get_reference_data[0][1] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="rotation">Rotation</label><br>
                            <textarea id="rotation" name="rotation" rows="2" class="text_area"
                                placeholder="Eg. Rotation definition" disabled>{{ get_reference_data[0][2] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="group">Group</label><br>
                            <textarea id="group" name="group" rows="2" class="text_area"
                                placeholder="Eg. Group definition" disabled>{{ get_reference_data[0][3] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="fte">FTE:</label><br>
                            <textarea id="fte" name="fte" rows="2" class="text_area" placeholder="Eg. FTE definition"
                                disabled>{{ get_reference_data[0][4] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="skill_level">Skill level</label><br>
                            <textarea id="skill_level" name="skill_level" rows="2" class="text_area"
                                placeholder="Eg. Skill level definition"
                                disabled>{{ get_reference_data[0][5] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="a_trained">A trained:</label><br>
                            <textarea id="a_trained" name="a_trained" rows="2" class="text_area"
                                placeholder="Eg. A trained definition"
                                disabled>{{ get_reference_data[0][6] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="transfer">Transfer</label><br>
                            <textarea id="transfer" name="transfer" rows="2" class="text_area"
                                placeholder="Eg. transfer definition" disabled>{{ get_reference_data[0][7] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="iv_trained">IV trained:</label><br>
                            <textarea id="iv_trained" name="iv_trained" rows="2" class="text_area"
                                placeholder="Eg. IV trained definition"
                                disabled>{{ get_reference_data[0][8] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="advanced_role">Advanced role</label><br>
                            <textarea id="advanced_role" name="advanced_role" rows="2" class="text_area"
                                placeholder="Eg. Advanced role definition"
                                disabled>{{ get_reference_data[0][9] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="dta">DTA</label><br>
                            <textarea id="dta" name="dta" rows="2" class="text_area" placeholder="Eg. DTA definition"
                                disabled>{{ get_reference_data[0][10] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="fixed">Fixed</label><br>
                            <textarea id="fixed" name="fixed" rows="2" class="text_area"
                                placeholder="Eg. Fixed definition" disabled>{{ get_reference_data[0][11] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="flexible">Flexible</label><br>
                            <textarea id="flexible" name="flexible" rows="2" class="text_area"
                                placeholder="Eg. Flexible definition"
                                disabled>{{ get_reference_data[0][12] }}</textarea>
                        </div>
                        <p>Color coding for nurse assignments:</p>
                        <p>Green = Charge Nurses</p>
                        <p>Yellow = Support Nurses</p>
                        <p>Red = Code Nurses</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="page-container">
        <div id="content-wrap">
            {% block content %}
            {% endblock %}
            {% if loggedin %}
            <footer class="footer navbar_custom">
                <p>Smart Roster © {{ now.year }} All Rights Reserved</p>
            </footer>
            {% endif %}
        </div>
    </div>

    <script>
        function openSidebar() {
            document.getElementById("mainSidebar").style.width = "320px";
            document.getElementById("sidebarContent").style.opacity = "1";
            $('#backdrop').addClass('modal-backdrop');
        }

        function closeSidebar() {
            document.getElementById("sidebarContent").style.opacity = "0";
            document.getElementById("mainSidebar").style.width = "0";
            $('#backdrop').removeClass('modal-backdrop');
        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>
</body>

</html>