{% extends "base.html" %}
{% block content %}

<p>Welcome to the Home Page</p>
<a href="/logout">Logout</a>
<a href="/register">Register</a>
<br>
<p>Current Shift</p>
wip
<a href="">Clinical Area Assignment</a>
wip
<a href="">Patient/Nurse Assignment</a>
wip
<a href="">Add Nurses to Current Shift</a>
<br>
<p>Records</p>
<a href="/nurseRecords">Nurse Records</a>
<a href="/patientRecords">Patient Records</a>
<br>
<p>Past Sheets</p>
wip
<a href="">Past Clinical Area Assignments</a>
wip
<a href="">Past Patient/Nurse Assignments</a>
{% endblock %}