{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a href="/assign" class="list-group-item list-group-item-action list-group-item-success"><img
                    class="sidebar-icons" src="/images/run.png">Run Scheduler</a>
            <a class="list-group-item list-group-item-action active" id="list-assignments-list" data-toggle="list"
                href="#list-assignments" role="tab" aria-controls="assignments"><img class="sidebar-icons"
                    src="/images/current_shift.png">Current
                Shift</a>
            <a class="list-group-item list-group-item-action" id="list-records-list" data-toggle="list"
                href="#list-records" role="tab" aria-controls="records"><img class="sidebar-icons"
                    src="/images/records.png">Records</a>
            <a class="list-group-item list-group-item-action" id="list-pastsheets-list" data-toggle="list"
                href="#list-pastsheets" role="tab" aria-controls="pastsheets"><img class="sidebar-icons"
                    src="/images/pastsheets.png">Past
                Sheets</a>

        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-assignments" role="tabpanel"
                aria-labelledby="list-assignments-list">
                <div class="row">
                    <div class="card-deck">
                        <div class="card text-center" style="width: 18rem; background: #add8e6">
                            <img class="mx-auto m-4" height="80px" src="/images/add-nurse-icon.png"
                                alt="nurse assignment image">
                            <div class="card-title">
                                <h5>Clinical Area Assignment</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">View the Clinical Area Assignment and make quick
                                    changes if
                                    necessary</p>
                            </div>
                            <div class="card-footer">
                                <a href="/currentCAASheet" style="padding: 10px 100px"
                                    class="btn btn-lg btn-primary">View</a>
                            </div>
                        </div>
                        <div class="card text-center" style="width: 18rem; background: #add8e6">
                            <img class="mx-auto m-4" height="80px" src="/images/patient_records.png"
                                alt="patient assignment image">
                            <div class="card-title">
                                <h5>Patient/Nurse Assignment</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text  text-center">View the Patient/Nurse Assignment and make quick
                                    changes if
                                    necessary</p>
                            </div>
                            <div class="card-footer">
                                <a href="/currentPNSheet" style="padding: 10px 100px"
                                    class="btn btn-lg btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-records" role="tabpanel" aria-labelledby="list-records-list">
                <div class="row">
                    <div class="card-deck">
                        <div class="card text-center" style="width: 18rem; background: #add8e6">
                            <img class="mx-auto m-4" height="80px" src="/images/nurse-records-icon.png"
                                alt="nurse records image">
                            <div class="card-title">
                                <h5>Nurse Records</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">View all nurses in the database. Add, delete, or edit
                                    nurses
                                    freely.</p>
                            </div>
                            <div class="card-footer">
                                <a href="/nurseRecords" style="padding: 10px 100px"
                                    class="btn btn-lg btn-primary">View</a>
                            </div>
                        </div>
                        <div class="card text-center" style="width: 18rem; background: #add8e6">
                            <img class="mx-auto m-4" height="80px" src="/images/patient-records-icon.png"
                                alt="patient records image">
                            <div class="card-title">
                                <h5>Patient Records</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">View all patients in the database. Add, delete, or edit
                                    freely.</p>
                            </div>
                            <div class="card-footer">
                                <a href="/patientRecords" style="padding: 10px 100px"
                                    class="btn btn-lg btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-pastsheets" role="tabpanel" aria-labelledby="list-pastsheets-list">
                <div class="row">
                    <div class="card-deck">
                        <div class="card text-center" style="width: 18rem; background: #add8e6">
                            <img class="mx-auto m-4" height="80px" src="/images/past-assignments-icon.png"
                                alt="Past Clinical Area Assignments image">
                            <div class="card-title">
                                <h5>Past Clinical Area Assignments</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center"><br>View past clinical area assignment sheets. Search
                                    by date.</p>
                            </div>
                            <div class="card-footer">
                                <a href="/pastCAASheet" style="padding: 10px 100px"
                                    class="btn btn-lg btn-primary">View</a>
                            </div>
                        </div>
                        <div class="card text-center" style="width: 18rem; background: #add8e6">
                            <img class="mx-auto m-4" height="80px" src="/images/past-assignments-icon.png"
                                alt="Past Patient/Nurse Assignments">
                            <div class="card-title">
                                <h5>Past Patient/Nurse Assignments</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-center">View past patient/nurse assignment sheets. Search by
                                    date.</p>
                            </div>
                            <div class="card-footer">
                                <a href="/pastPNSheet" style="padding: 10px 100px"
                                    class="btn btn-lg btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="quickLinks" class="quick-links" onclick="toggleQuicklinks()">
    <div class="quick-link-tab-container">
        <img id="quickLinksIcon" class="quick-link-tab-icon" src="/images/quicklinks-icon.png">
    </div>
    <div id="quicklinksContent" class="quick-links-content">
        <a href="#"><img class="quick-link-icons" src="/images/add-patient-icon.png"><br>Add Patient</a>
        <a href="#"><img class="quick-link-icons" src="/images/add-nurse-icon.png"><br>Add Nurse</a>
        <a href="#"><img class="quick-link-icons" src="/images/print-icon.png"><br>Print Current<br>CA Sheet</a>
        <a href="#"><img class="quick-link-icons" src="/images/print-icon.png"><br>Print Current<br>P/N Sheet</a>
    </div>
</div>

<script>
    function toggleQuicklinks() {
        var quickLinks = document.getElementById("quickLinks");
        var quickLinksContent = document.getElementById("quicklinksContent");
        var quickLinksIcon = document.getElementById("quickLinksIcon");

        if (quickLinks.style.width == "200px") {
            quickLinks.style.width = "30px";
            quickLinksContent.style.opacity = "0";
            quickLinksContent.style.visibility = "hidden";
            quickLinksIcon.style.transform = "translate(0%, -50%) scalex(1)";
        }
        else {
            quickLinks.style.width = "200px";
            quickLinksContent.style.visibility = "visible";
            quickLinksContent.style.opacity = "1";
            quickLinksIcon.style.transform = "translate(0%, -50%) scalex(-1)";
        }
    }
</script>

{% endblock %}