{% extends "base.html" %}

{% block content %}


<div class="container-fluid" style="width: 30%; padding: 30px 10px 30px 10px;">
    <form action="/registerUser" method="post">
		<h2>Register</h2>
        <p class="hint-text mb-5">Create a nurse account.</p>
        <div class="form-row">
			<div class="form-group col-6">
                <label for="first_name">First Name</label>
                <div class="col pl-0"><input type="text" class="form-control" name="first_name" placeholder="Eg. John" required></div>
            </div>
            <div class="form-group col-6">
                <label for="last_name">Last Name</label>
				<div class="col pl-0"><input type="text" class="form-control" name="last_name" placeholder="Eg. Smith" required></div>
			</div>    	
        </div>
        <div class="form-group">
            <label for="username">Username</label>
        	<input type="text" class="form-control" name="username" placeholder="Eg. johnsmith" required>
        </div>
		<div class="form-group">
            <label for="password">Password</label>
            <small class="form-text text-muted">Must contain at least 8 characters, including one uppercase/lowercase letter and a number.</small>
            <input type="password" class="form-control" name="password" required minlength="5" 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </div>
		<div class="form-group">
            <label for="password_conf">Confirm Password</label>
            <input type="password" class="form-control" name="password_conf" required minlength="5">
        </div>
        <br>
		<div class="form-group">
            <button type="submit" class="btn btn_create_custom btn-lg btn-block">Create</button>
        </div>
        {{msg}}
    </form>
</div>

{% endblock %}