{% extends "base.html" %}

{% block content %}

<!--Content Here-->
<div>
    <h1>Patient Records</h1>
    <button>Create</button>
    <button>Edit</button>
    <button>Delete</button>
    <!--Table-->
    <table class="record-tables">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Bed</th>
                <th>Acuity Level</th>
                <th>Date Admitted</th>
                <th>Date Discharged</th>
                <th>A-trained Req</th>
                <th>Transfer Req</th>
            </tr>
        </thead>
        <tbody>
            {%for patient in patientList %}
            <tr>
                <td>
                    <div contenteditable>{{patient[0]}}</div>
                </td>
                <td>
                    <div contenteditable>{{patient[1]}}</div>
                </td>
                <td>
                    <div contenteditable>{{patient[2]}}</div>
                </td>
                <td>
                    <div contenteditable>{{patient[3]}}</div>
                </td>
                <td>
                    <div contenteditable>{{patient[4]}}</div>
                </td>
                <td>
                    <div contenteditable>{{patient[5]}}</div>
                </td>
                {%if patient[6]==0%}
                <td>
                    <div contenteditable>False</div>
                </td>
                {%else%}
                <td>
                    <div contenteditable>True</div>
                </td>
                {%endif%}

                {%if patient[7]==0%}
                <td>
                    <div contenteditable>False</div>
                </td>
                {%else%}
                <td>
                    <div contenteditable>True</div>
                </td>
                {%endif%}

            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>


{% endblock %}