{% extends "base.html" %}
{% block content %}

<!--Content Here-->
<main>
    <!--Jumbotron-->
    <div class="jumbotron py-3">
        <div class="jumbotron-content">
            <h1>Patient Records</h1>
            <br><br>
            <div class="container-fluid">
                <div class="row">
                    <!-- Extra div for center of row -->
                    <div class="col-sm"></div>
                    <div class="col-">
                        <button class="btn btn-primary" data-toggle="modal" data-target=".createModalCenter">Create
                        </button>
                        <button class="btn btn-warning" onclick="get_edit_data()" data-toggle="modal"
                            data-target=".editModalCenter">Edit</button>
                        <button class="btn btn-danger" onclick="get_delete_data()" data-toggle="modal"
                            data-target=".deleteModalCenter">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Table-->
    <div class="table-content">
        <table class="table table-sm table-bordered" id="patient-record-table" style="margin-bottom: 50px">
            <!--Dynamically generated table headers-->
            <thead class="thead-light">
                <form action="/patientRecords" method="get">
                    <tr id="patient-table-headers">
                        {% for header in patientHeaders %}
                        <th>{{header}} </th>
                        {% endfor %}
                    </tr>
                </form>
            </thead>
            <tbody id="patient-tbody">
                {% for patient in patientList %}
                <tr id="{{'p'~patient[0]}}" style="cursor: pointer;">
                    <td>
                        <div id="{{'p'~patient[0]~'-id'}}">{{patient[0]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-name'}}">{{patient[1]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-area'}}">{{patient[2]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-bednum'}}">{{patient[3]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-acuity'}}">{{patient[4]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-atrainedReq'}}">{{patient[5]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-transferReq'}}">{{patient[6]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-ivReq'}}">{{patient[7]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-1to1'}}">{{patient[8]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-prevNurses'}}">{{patient[9]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-dateAdmitted'}}">{{patient[10]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-dischargedDate'}}">{{patient[11]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-comments'}}">{{patient[12]}} </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<!--Modal-->

<!-- Create Modal -->
<div class="modal fade createModalCenter" id="createModal" tabindex="-1" role="dialog"
    aria-labelledby="createModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addPatientRecords" method="post">
                  <input id="create_name" name="create_name" required="" size="32" type="text" value="" placeholder="edit_first_name"><br>
                  <input id="create_clinical_area" name="create_clinical_area" required="" size="32" type="text" value="" placeholder="clinical_area"><br>
                  <input id="create_bed_num" name="create_bed_num" required="" size="32" type="number" value="" placeholder="bed_num"><br>
                  <input id="create_acuity" name="create_acuity" required="" size="32" type="number" value="" placeholder="acuity"><br>
                  <input id="create_a_trained" name="create_a_trained" required="" size="32" type="number" value="" placeholder="patient_a_trained"><br>
                  <input id="create_patient_transfer" name="create_patient_transfer" required="" size="32" type="number" value="" placeholder="patient_transfer"><br>
                  <input id="create_patient_iv" name="create_patient_iv" required="" size="32" type="number" value="" placeholder="iv"><br>
                  <input id="create_patient_one_to_one" name="create_patient_one_to_one" required="" size="32" type="number" value="" placeholder="one_to_one"><br>
                  <input id="create_patient_previous_nurses" name="create_patient_previous_nurses" required="" size="32" type="number" value="" placeholder="previous_nurses"><br>
                  <input id="create_patient_date_admitted" name="create_patient_date_admitted" required="" size="32" type="text" value="" placeholder="patient_date_admitted"><br>
                  <input id="create_patient_comments" name="create_patient_comments" required="" size="32" type="number" value="" placeholder="comments"><br>
                    <div class="modal-footer">
                      <input class="btn btn-danger" id="submit" name="submit" type="submit" value="Confirm">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade editModalCenter" id="editModal" tabindex="-1" role="dialog"
    aria-labelledby="editModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/editPatientRecords" method="post">
                    <input id="edit_patient_id" hidden name="edit_patient_id" required="" size="32" type="text" value="" placeholder=""><br>
                    <input id="edit_name" name="edit_name" required="" size="32" type="text" value="" placeholder="edit_first_name"><br>
                    <input id="edit_clinical_area" name="edit_clinical_area" required="" size="32" type="text" value="" placeholder="clinical_area"><br>
                    <input id="edit_bed_num" name="edit_bed_num" required="" size="32" type="text" value="" placeholder="bed_num"><br>
                    <input id="edit_acuity" name="edit_acuity" required="" size="32" type="text" value="" placeholder="acuity"><br>
                    <input id="edit_a_trained" name="edit_a_trained" required="" size="32" type="text" value="" placeholder="patient_a_trained"><br>
                    <input id="edit_patient_transfer" name="edit_patient_transfer" required="" size="32" type="text" value="" placeholder="patient_transfer"><br>
                    <input id="edit_patient_iv" name="edit_patient_iv" required="" size="32" type="text" value="" placeholder="iv"><br>
                    <input id="edit_patient_one_to_one" name="edit_patient_one_to_one" required="" size="32" type="text" value="" placeholder="one_to_one"><br>
                    <input id="edit_patient_previous_nurses" name="edit_patient_previous_nurses" required="" size="32" type="text" value="" placeholder="previous_nurses"><br>
                    <input id="edit_patient_date_admitted" name="edit_patient_date_admitted" required="" size="32" type="text" value="" placeholder="patient_date_admitted"><br>
                    <input id="edit_patient_date_discharge" name="edit_patient_date_discharge" size="32" type="text" value="" placeholder="patient_date_discharge"><br>
                    <input id="edit_patient_comments" name="edit_patient_comments" required="" size="32" type="text" value="" placeholder="comments"><br>
                    <br>
                    <div class="modal-footer">
                      <input type="submit" name="submit" class="btn btn-warning" value="Edit">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade deleteModalCenter" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/deletePatientRecords" method="post">
                    <input id="remove_patient_id" hidden name="remove_patient_id" required="" size="32" type="text" value="" placeholder="">
                    Are you sure you want to delete</p>
                    <input id="remove_patient_name" disabled name="remove_patient_name" required="" size="32" type="text" value="" placeholder="">
                    <div class="modal-footer">
                      <input class="btn btn-danger" id="submit" name="submit" type="submit" value="Confirm">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var rowId = null;

    function highlight_row() {
        var table = document.getElementById('patient-record-table');
        var cells = table.getElementsByTagName('td');

        for (var i = 0; i < cells.length; i++) {
            var cell = cells[i];
            cell.onclick = function () {
                if (rowId != null && rowId == this.parentNode.rowIndex) {
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    rowSelected.classList.toggle("table-info");
                    rowId = null; // Reset rowId
                } else {
                    // Take current row index
                    rowId = this.parentNode.rowIndex;

                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].classList.remove('table-info');
                    }
                    var rowSelected = table.getElementsByTagName('tr')[rowId];

                    rowSelected.classList.toggle("table-info", true);
                }
            }
        }
        table.onclick = function () {
            console.log(rowId);
            console.log(table.rows[rowId].cells[0].innerText);
        }
    }

    // Grab delete data
    function get_delete_data() {
        // Gets data from selected row
        var table = document.getElementById('patient-record-table');
        var patient_id = table.rows[rowId].cells[0].innerText;
        var patient_name = table.rows[rowId].cells[1].innerText;

        //Sets input values
        document.getElementById('remove_patient_id').value = patient_id;
        document.getElementById('remove_patient_name').value = patient_name;

        // Testing purposes 
        console.log(patient_id)
        console.log(patient_name)

    }

    // Grab edit data
    function get_edit_data() {
        // Gets data from selected row
        var table = document.getElementById('patient-record-table');
        var patient_id = table.rows[rowId].cells[0].innerText;
        var patient_name = table.rows[rowId].cells[1].innerText;
        var patient_clinical_area = table.rows[rowId].cells[2].innerText;
        var patient_bed = table.rows[rowId].cells[3].innerText;
        var patient_acuity_level = table.rows[rowId].cells[4].innerText;
        var patient_a_trained = table.rows[rowId].cells[5].innerText;
        var patient_transfer = table.rows[rowId].cells[6].innerText;
        var patient_iv = table.rows[rowId].cells[7].innerText;
        var patient_1_to_1 = table.rows[rowId].cells[8].innerText;
        var patient_prev_nurses = table.rows[rowId].cells[9].innerText;
        var patient_date_admitted = table.rows[rowId].cells[10].innerText;
        var patient_date_discharged = table.rows[rowId].cells[11].innerText;
        var patient_date_comments = table.rows[rowId].cells[12].innerText;

        //Sets input values
        document.getElementById('edit_patient_id').value = patient_id;
        document.getElementById('edit_name').value = patient_name;
        document.getElementById('edit_clinical_area').value = patient_clinical_area;
        document.getElementById('edit_bed_num').value = patient_bed;
        document.getElementById('edit_acuity').value = patient_acuity_level;
        document.getElementById('edit_a_trained').value = patient_a_trained;
        document.getElementById('edit_patient_transfer').value = patient_transfer
        document.getElementById('edit_patient_iv').value = patient_iv
        document.getElementById('edit_patient_one_to_one').value = patient_1_to_1
        document.getElementById('edit_patient_previous_nurses').value = patient_prev_nurses
        document.getElementById('edit_patient_date_admitted').value = patient_date_admitted
        document.getElementById('edit_patient_date_discharge').value = patient_date_discharged
        document.getElementById('edit_patient_comments').value = patient_date_comments
    }


    // Filter Data by Column
    $(document).ready(function () {
        // Setup - add a text input to each header cell
        $('#patient-record-table thead tr').clone(true).appendTo('#patient-record-table thead');
        $('#patient-record-table thead tr:eq(1) th').each(function (i) {
            $(this).html('<input class="form-control form-control-sm" type="text" placeholder="Filter..." />');
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#patient-record-table').DataTable({
            // Order
            orderCellsTop: true,
            ordering: true,
            paging: false,
            info: false,
            searching: true,
            dom: 'lrtip',
            responsive: true
        });
    });

    window.onload = highlight_row;
</script>

{% endblock %}