{% extends "base.html" %}
{% block content %}

<!--Content Here-->
<main>
    <!--Jumbotron-->
    <div class="jumbotron py-3">
        <div class="jumbotron-content">
            <h1>Patient Records</h1>
            <br><br>
            <div class="container-fluid">
                <div class="row">
                    <!-- Extra div for center of row -->
                    <div class="col-sm"></div>
                    <div class="col-">
                        <button class="btn btn-primary" data-toggle="modal" data-target=".createModalCenter">Create
                        </button>
                        <button class="btn btn-warning" onclick="get_edit_data()" data-toggle="modal"
                            data-target=".editModalCenter">Edit</button>
                        <button class="btn btn-danger" onclick="get_delete_data()" data-toggle="modal"
                            data-target=".deleteModalCenter">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Table-->
    <div class="table-content">
        <table class="table table-sm table-bordered" id="patient-record-table" style="margin-bottom: 50px">
            <!--Dynamically generated table headers-->
            <thead class="thead-light">
                <form action="/patientRecords" method="get">
                    <tr id="patient-table-headers">
                        {% for header in patientHeaders %}
                        <th>{{header}} </th>
                        {% endfor %}
                    </tr>
                </form>
            </thead>
            <tbody id="patient-tbody">
                {% for patient in patientList %}
                <tr id="{{'p'~patient[0]}}" style="cursor: pointer;">
                    <td>
                        <div id="{{'p'~patient[0]~'-id'}}">{{patient[0]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-fname'}}">{{patient[1]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-lname'}}">{{patient[2]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-area'}}">{{patient[3]}}</div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-bednum'}}">{{patient[4]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-acuity'}}">{{patient[5]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-atrainedReq'}}">{{patient[6]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-transferReq'}}">{{patient[7]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-ivReq'}}">{{patient[8]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-1to1'}}">{{patient[9]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-prevNurses'}}">{{patient[10]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-dateAdmitted'}}">{{patient[11]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-dischargedDate'}}">{{patient[12]}} </div>
                    </td>
                    <td>
                        <div id="{{'p'~patient[0]~'-comments'}}">{{patient[13]}} </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<!--Modal-->

<!-- Create Modal -->
<div class="modal fade createModalCenter" id="createModal" tabindex="-1" role="dialog"
    aria-labelledby="createModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/addPatientRecords" method="post">
                    <input id="c_patient_name" name="patient_name" required="" size="32" type="text" value=""
                        placeholder="name">
                    <input id="c_patient_bed" name="patient_bed" required="" size="32" type="text" value=""
                        placeholder="patient_bed">
                    <input id="c_patient_acuity" name="patient_acuity" required="" size="32" type="text" value=""
                        placeholder="patient_acuity">
                    <input id="c_patient_date_admitted" name="patient_date_admitted" required="" size="32" type="text"
                        value="" placeholder="patient_date_admitted"><br>
                    <input id="c_patient_a_trained" name="patient_a_trained" required="" size="32" type="number"
                        value="" placeholder="patient_a_trained"><br>
                    <input id="c_patient_transfer" name="patient_transfer" required="" size="32" type="number" value=""
                        placeholder="patient_transfer">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" name="submit" type="submit" value="Create">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade editModalCenter" id="editModal" tabindex="-1" role="dialog"
    aria-labelledby="editModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/editPatientRecords" method="post">
                    <input id="edit_patient_id" hidden name="edit_patient_id" required="" size="32" type="text" value=""
                        placeholder=""><br>
                    <input id="edit_patient_name" name="edit_patient_name" required="" size="32" type="text" value=""
                        placeholder="name"><br>
                    <input id="edit_patient_bed" name="edit_patient_bed" required="" size="32" type="text" value=""
                        placeholder="patient_bed"><br>
                    <input id="edit_patient_acuity" name="edit_patient_acuity" required="" size="32" type="text"
                        value="" placeholder="patient_acuity"><br>
                    <input id="edit_patient_date_admitted" name="edit_patient_date_admitted" required="" size="32"
                        type="text" value="" placeholder="patient_date_admitted"><br>
                    <input id="edit_patient_date_discharge" name="edit_patient_date_discharge" size="32" type="text"
                        value="" placeholder="patient_date_discharge"><br>
                    <input id="edit_patient_a_trained" name="edit_patient_a_trained" required="" size="32" type="number"
                        value="" placeholder="patient_a_trained"><br>
                    <input id="edit_patient_IV" name="edit_patient_IV" required="" size="32" type="number" value=""
                        placeholder="patient_transfer"><br>

                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" name="submit" class="btn btn-warning" value="Edit">Edit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade deleteModalCenter" id="deleteModal" tabindex="-1" role="dialog"
    aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/deletePatientRecords" method="post">
                    <input id="remove_patient_id" hidden name="remove_patient_id" required="" size="32" type="text"
                        value="" placeholder="">
                    Are you sure you want to delete</p>
                    <input id="remove_patient_name" disabled name="remove_patient_name" required="" size="32"
                        type="text" value="" placeholder="">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" name="submit" type="submit" value="Confirm">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    var rowId = null;

    function highlight_row() {
        var table = document.getElementById('patient-record-table');
        var cells = table.getElementsByTagName('td');

        for (var i = 0; i < cells.length; i++) {
            var cell = cells[i];
            cell.onclick = function () {
                if (rowId != null && rowId == this.parentNode.rowIndex) {
                    var rowSelected = table.getElementsByTagName('tr')[rowId];
                    rowSelected.classList.toggle("table-info");
                    rowId = null; // Reset rowId
                } else {
                    // Take current row index
                    rowId = this.parentNode.rowIndex;

                    var rowsNotSelected = table.getElementsByTagName('tr');
                    for (var row = 0; row < rowsNotSelected.length; row++) {
                        rowsNotSelected[row].classList.remove('table-info');
                    }
                    var rowSelected = table.getElementsByTagName('tr')[rowId];

                    rowSelected.classList.toggle("table-info", true);
                }
            }
        }
        table.onclick = function () {
            console.log(rowId);
            console.log(table.rows[rowId].cells[0].innerText);
        }
    }

    // Grab delete data
    function get_delete_data() {
        // Gets data from selected row
        var table = document.getElementById('patient-record-table');
        var patient_id = table.rows[rowId].cells[0].innerText;
        var patient_name = table.rows[rowId].cells[1].innerText;

        //Sets input values
        document.getElementById('remove_patient_id').value = patient_id;
        document.getElementById('remove_patient_name').value = patient_name;

        // Testing purposes 
        console.log(patient_id)
        console.log(patient_name)

    }

    // Grab edit data
    function get_edit_data() {
        // Gets data from selected row
        var table = document.getElementById('patient-record-table');
        var patient_id = table.rows[rowId].cells[0].innerText;
        var patient_name = table.rows[rowId].cells[1].innerText;
        var patient_bed = table.rows[rowId].cells[2].innerText;
        var patient_acuity = table.rows[rowId].cells[3].innerText;
        var patient_admit = table.rows[rowId].cells[4].innerText;
        var patient_discharge = table.rows[rowId].cells[5].innerText;
        var patient_a_trained = table.rows[rowId].cells[6].innerText;
        var patient_IV = table.rows[rowId].cells[7].innerText;

        //Sets input values
        document.getElementById('edit_patient_id').value = patient_id;
        document.getElementById('edit_patient_name').value = patient_name;
        document.getElementById('edit_patient_bed').value = patient_bed;
        document.getElementById('edit_patient_acuity').value = patient_acuity;
        document.getElementById('edit_patient_date_admitted').value = patient_admit;
        document.getElementById('edit_patient_a_trained').value = patient_a_trained;
        document.getElementById('edit_patient_IV').value = patient_IV;

        if (patient_discharge !== 'None') {
            document.getElementById('edit_patient_date_discharge').value = patient_discharge;
        }
    }

    // Filter Data by Column
    $(document).ready(function () {
        // Setup - add a text input to each header cell
        $('#patient-record-table thead tr').clone(true).appendTo('#patient-record-table thead');
        $('#patient-record-table thead tr:eq(1) th').each(function (i) {
            $(this).html('<input class="form-control form-control-sm" type="text" placeholder="Filter..." />');
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        var table = $('#patient-record-table').DataTable({
            // Order
            orderCellsTop: true,
            ordering: true,
            paging: false,
            info: false,
            searching: true,
            dom: 'lrtip',
            responsive: true
        });
    });

    window.onload = highlight_row;
</script>

{% endblock %}