/******* Global Styling *******/
body {
  height: 100%;
  background-color: white;
}

.container-fluid {
  padding: 0;
}

table {
  display: "block";
}

.row {
  margin: 0;
}

.form-control:focus {
  outline: none !important;
  border: 1px solid #813e97;
  box-shadow: 0 0 10px #813e97;
}

// div {
//   border: 1px solid red;
// }

/******* Class Styling *******/

/* Global */
.sr-logo {
  height: 40px;
  width: auto;
}

.hamburger-icon {
  margin-left: 25px;
  margin-right: 25px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.jumbotron-title {
  text-align: center;
}

.sidebar-icons {
  height: 25px;
  text-align: center;
  width: 25px;
  margin-right: 20px;
}

.quick-link-icons {
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  padding-top: 5px;
}

/* Navbar */
.navbar_custom {
  background-color: rgb(233, 233, 233);
  padding-left: 0;
}

.navbar_text {
  color: #333333;

  &:hover {
    color: #D53464;
  }

  &.current_link {
    color: yellow;
  }
}

/* Main Page */

.button_custom {
  background-color: #d53464;
  border-color: white;
  color: white;

  &:hover {
    color: white;
    border-color: white;
    background-color: #d53464;
  }
}

.custom_card_img {
  height: 80px;
  transition: 0.4s;
  margin: 1.5rem;
}

.card_custom {
  background-color: transparent;
  transition: 0.3s ease-in;
  width: 18rem;
  border: 2px solid rgba(213, 52, 100, 1);
  color: black;
  box-shadow: 2px 3px 10px lightgray;

  &:hover {
    background: linear-gradient(
      180deg,
      rgb(189, 138, 206) 0%,
      rgba(129, 62, 151, 1) 50%
    );
    transition: 0.3s;
    color: white;
    border: 2px solid rgba(129, 62, 151, 0.3);

    .custom_card_img {
      height: 96px;
      transition: 0.3s;
      margin: 1rem;
    }
  }
}

.run_tab_custom {
  height: 4rem;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(213, 52, 100, 1) 0%,
    rgba(129, 62, 151, 1) 80%
  );
  border: 2px solid #d53464;
  color: white;
  font-weight: bold;
  width: 90%;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(213, 52, 100, 1) 0%,
      rgba(129, 62, 151, 1) 80%
    );
    color: white;
    transition: 0.1s ease-in;
  }
}

.tab_custom {
  height: 8rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  margin: 0rem;
  color: black;

  &.active {
    background: linear-gradient(
      90deg,
      rgba(129, 62, 151, 1) 0%,
      rgb(189, 138, 206) 80%
    );
    border-color: transparent;
    font-weight: bolder;
    color: white;

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(129, 62, 151, 1) 0%,
        rgb(189, 138, 206) 80%
      );
      border-color: transparent;
      font-weight: bolder;
      color: white;
    }
  }

  &:hover {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
    font-size: larger;
    font-weight: bolder;
    transition: 0.1s ease-in;
    color: black;
  }
}

.tab_image_custom {
  height: 3rem;
  width: auto;
}

.tab_menu_custom {
  background-color: rgb(233, 233, 233);
  height: 100vh;
}

.btn-outline-custom {
  background-color: transparent;
  border: 2px solid #d53464;
  color: #d53464;

  &:hover {
    background-color: #d53464;
    color: white;
  }
}

/* Sidebar */

/* The side navigation menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* Sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* Sidebar link hover */
.sidebar a:hover {
  color: #d53464;
}

/* Sidebar close button */
.sidebar .closebtn {
  position: absolute;
  top: 0px;
  right: 30px;
  font-size: 30px;
  width: 35px;
  height: 35px;
}

.sidebar-content {
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
  word-wrap: none;
}

/* End of Sidebar */

/* Quick-links */

.input-group-text {
  width: 115px;
}

.quick-links {
  height: 500px;
  width: 20px;
  position: fixed;
  z-index: 1;
  top: 22.5%;
  right: -1px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 30px;
  transition: 0.5s;
  cursor: pointer;
  border: 0.5px solid #ced4da;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.quick-links a {
  padding: 7px 2px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
  word-wrap: none;
}

.quick-links a:hover {
  color: #d53464;
}

.quick-links-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  white-space: nowrap;
  word-wrap: none;
}

.quick-link-tab-container {
  height: 500px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.quick-link-tab-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 0px 3px;
  transition: 0.5s;
}

/* End of Quick-links */

/* Records Pages */

.jumbotron {
  background-color: white;
}

.jumbotron-content {
  padding: 10px 10px 10px 10px;
  text-align: center;
  /* border: 5px solid; */
}

.btn_create_custom {
  background-color: #d53464;
  color: white;
  margin: 0px 5px;

  &:hover {
    background-color: #af1946;
    text-decoration: none;
  }
}

.btn_edit_custom {
  background-color: #d53464;
  color: white;
  margin: 0px 2px;
}

.thead-light {
  background-color: white;
}

.table-content {
  margin: 25px 25px 25px 25px;
  /* border: 5px solid; */
}

.hidden {
  display: none;
}

.sort-btn {
  padding: 0px 5px;
  bottom: 1px;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

input[type="checkbox"] {
  display: none;
  position: absolute;
  visibility: hidden;
}

.button-select {
  color: black;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 30px;
  margin: 0;
}

input[type="radio"]:checked + label {
  outline: 3px solid #813e97;
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 30px;
  margin: 0px;
}

label + input[type="radio"] + label {
  margin: 0;
}

.radio-group {
  border: solid 1px #ced4da;
  display: inline-block;
  margin: 0px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
}

.toggle {
  cursor: pointer;
  padding-right: 35px;
  position: relative;
  display: block;
  padding: 0px 0px;
  width: 170px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
  }

  &:before {
    width: 30px;
    height: 15px;
    right: 0px;
    background: #fff;
    border: 2px solid #ced4da;
    border-radius: 15px;
  }

  &:after {
    width: 15px;
    height: 15px;
    right: 15px;
    background: darkgray;
    border-radius: 50%;
    transition: all 200ms ease-out;
  }
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  &:after {
    right: 0px;
    background: #813e97;
  }
}

.text_area {
  width: 100%;
  border: 2px solid #ced4da;
}

/* End of Record Pages */

/* Start of Assignments Pages */
.menu-dropdown {
  margin: 5px 25px;
}

.pod-norm {
  background: linear-gradient(
    90deg,
    rgb(66, 0, 88) 0%,
    rgba(129, 62, 151, 1) 50%
  );
  color: white;
}

.pod-spec {
  background: linear-gradient(
    90deg,
    rgb(160, 14, 57) 0%,
    rgba(213, 52, 100, 1) 50%
  );
  color: white;
}

.special_custom_box {
  background-color: transparent;
  border: 1px solid lightgray;
}

.bed_custom {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 5px;

  &:hover {
    background-color: rgb(236, 236, 236);
  }
}
/* End of Assignments Pages */

/* Profile Page */

.profile-content {
  text-align: center;
  display: block;
  color: #af1946;
}

.profile-picture {
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: solid 3px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user-image {
  background-image: url("/images/base-avatar.png");
}

.profile-links {
  display: inline-block;
}

.profile_link {
  color: #813e97;

  &:hover {
    color: #af1946;
    text-decoration: none;
  }
}

/* End of Profile Page */
