/******* Global Styling *******/
body {
  height: 100%;
  background-color: white;
}

table {
  display: "block";
}

/* div {
    border: 1px solid red;
  } */

/******* Class Styling *******/

/* Global */
.sr-logo {
  height: 40px;
  width: auto;
}

.hamburger-icon {
  margin-left: 25px;
  margin-right: 25px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.jumbotron-title {
  text-align: center;
}

.sidebar-icons {
  height: 25px;
  text-align: center;
  width: 25px;
  margin-right: 20px;
}

.quick-link-icons {
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  padding-top: 5px;
}

.card:hover {
  background: #ffffff;
}

/* Start of login page */
.login-elements {
  margin-top: 150px;
  height: 600px;
  /* border: 5px solid; */
}

/* Sidebar */

/* The side navigation menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(173, 173, 173);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* Sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* Sidebar link hover */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Sidebar close button */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-content {
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
  word-wrap: none;
}

/* End of Sidebar */

/* Quick-links */

.input-group-text {
  width: 115px;
}

.quick-links {
  height: 550px;
  width: 30px;
  position: fixed;
  z-index: 1;
  top: 20%;
  right: 0;
  background-color: rgb(173, 173, 173);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.quick-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
  text-align: center;
  white-space: nowrap;
  word-wrap: none;
}

.quick-links-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  white-space: nowrap;
  word-wrap: none;
}

.quick-link-tab-container {
  height: 550px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.quick-link-tab-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 0px 3px 0px 3px;
  transition: 0.5s;
}

/* End of Quick-links */

/* Records Pages */

.jumbotron-content {
  padding: 10px 10px 10px 10px;
  text-align: center;
  /* border: 5px solid; */
}

.table-content {
  margin: 25px 25px 25px 25px;
  /* border: 5px solid; */
}

.hidden {
  display: none;
}

.sort-btn {
  padding: 0px 5px;
  bottom: 1px;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
}

input[type="checkbox"] {
  display: none;
  position: absolute;
  visibility: hidden;
}

.button-select {
  color: black;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 30px;
  margin: 0;
}

input[type="radio"]:checked + label {
  outline: 3px solid lightblue;
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px 30px;
  margin: 0px;
}

label + input[type="radio"] + label {
  margin: 0;
}

.radio-group {
  border: solid 1px #ced4da;
  display: inline-block;
  margin: 0px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0px;
}

.toggle {
    cursor: pointer;
    padding-right: 35px;
    position: relative;
    display: block;
    padding: 0px 0px;
    width: 170px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
  }

  &:before {
    width: 30px;
    height: 15px;
    right: 0px;
    background: #fff;
    border: 2px solid #ced4da;
    border-radius: 15px;
  }

  &:after {
    width: 15px;
    height: 15px;
    right: 15px;
    background: darkgray;
    border-radius: 50%;
    transition: all 200ms ease-out;
  }
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  &:after {
    right: 0px;
    background: #ff9800;
  }
}

.text_area {
    width: 100%;
    border: 2px solid #ced4da;
}

/* End of Record Pages */

/* Start of Assignments Pages */
.menu-dropdown {
  margin: 5px 25px;
}

.pod-norm {
  background: #c3e6cb;
}

.pod-spec {
  background: #eb5757;
}

/* End of Assignments Pages */
