/******* Global Styling *******/
body {
  height: 100%;
  background-color: white;
}

/******* Class Styling *******/

/* Global */
.sr-logo {
  height: 40px;
  width: auto;
}

.hamburger-icon {
  padding-left: 25px;
  padding-right: 25px;
  height: 30px;
  width: auto;
}

.sidebar-icons {
  height: 25px;
  text-align: center;
  width: auto;
  padding-right: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

/* Sidebar */

/* The side navigation menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(173, 173, 173); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

/* Sidebar link hover */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Sidebar close button */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebarContent {
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
  word-wrap: none;
}

/* End of Sidebar */

/* Start of login page */
.login-elements {
  margin-top: 150px;
  height: 600px;
  /* border: 5px solid; */
}

.login-row:after {
  content: "";
  display: table;
  clear: both;
}

.login-column-1 {
  float: left;
  width: 45%;
  margin-top: 25px;
  margin-left: 25px;
  padding: 25px;
  height: 500px;
  /* border: 5px solid; */
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));
}

.introduction {
  margin-top: 25px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  background-color: rgba(156, 149, 149, 0.5);
  text-align: center;
}

.login-column-2 {
  float: right;
  width: 45%;
  margin-top: 25px;
  margin-right: 25px;
  padding: 25px;
  height: 500px;
  /* border: 5px solid; */
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));
}

.login-form {
  text-align: center;
  padding-top: 25px;
}

.login-form p {
  color: white;
  text-align: left;
}

.login-msg p {
  text-align: center;
}

.login-logo {
  width: 200px;
  height: 100px;
}

.login-body {
  background-image: url("/images/login-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* End of login page */

/******* ID Styling *******/
