/******* Global Styling *******/
body {
  height: 100%;
  background-color: white;
}

/******* Class Styling *******/
.sr-logo {
  height: 40px;
  width: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

/******* ID Styling *******/
