/******* Global Styling *******/
body {
  height: 100%;
  background-color: white;
}

/******* Class Styling *******/
.sr-logo {
  height: 40px;
  width: auto;
}

/******* ID Styling *******/
